.main-content {
    margin: 2rem;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    background-color: var(--color-card-bg);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    max-width: var(--element-max-width);
}

.account-setting {
    background-color: red;
    max-width: var(--element-max-width);
    height: 30px;
    width: 80vw;
}

.account-control {
    color: var(--color-card-fg);
    background-color: var(--color-card-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: .5rem;
    width: 100%;
    max-width: var(--element-max-width);
    border-radius: 12px;
}

.account-control-right-sub {
    display: flex;
    flex-direction: row;
}

.button {
    text-align: center;
    color: var(--color-fg);
    background-color: var(--color-bg);
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: 8px;
    transition: background-color 100ms linear;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
}

.name {
    font-weight: bold;
    font-size: 1.5em;
}

.form-txt input{
    font-size: large;
    color: var(--color-fg);
    border: none;
    background-color: var(--color-bg);
    min-width: 4rem;
    width: 90%;
    border-radius: 8px;
    padding: .4rem;
    margin: .5rem;

}

.main-content-wrapper {
    padding: 2rem;
}

.partition {
    padding: 0 0 1.5rem 0;
}