.nav {
    position: relative;
    padding: .6rem;
    background-color: rgb(255, 255, 255);
    color: var(--color-navbar-fg);
    border: 4px #222222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.nav-elements {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: calc(var(--element-max-width) + 6rem);
    margin: 0 auto;
}

.another-wrapper-class {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-title {
    color: var(--color-navbar-fg);
    font-size: 1.1em;
    padding: .2rem;
}

.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: var(--color-navbar-fg);
    padding: .4rem;
    margin: 0 .5rem;
    border-radius: 8px;
    transition: background-color 100ms linear;
}

.nav-search {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.nav-searchbar {
    width: 20rem;
    max-width: 20rem;
    padding: .4rem;
    margin: 0 1rem;
    background-color: var(--color-navbar-search);
    color: var(--color-navbar-fg);
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.nav-search-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    
}

.nav-links a:hover {
    background-color: var(--color-navbar-active-bg);
    transition: background-color 100ms linear;
}

.nav-menu {
    font-size: 30px;
    margin: 0 1rem;
    cursor: pointer;
    display: none;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    flex-direction: column;
    background-color: var(--color-navbar-bg);
    background-color: var(--color-navbar-bg);
    color: var(--color-navbar-fg);
}

.menu-search {
    width: 20rem;
    max-width: 20rem;
    padding: .4rem;
    margin: 0 1rem;
    background-color: var(--color-navbar-search);
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.menu-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    color: var(--color-navbar-fg);
    padding: 1rem;
    margin: .5rem .5rem;
    border-radius: 8px;
    transition: background-color 100ms linear;
}

.menu-links a {
    color: var(--color-navbar-fg);
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 900px) {
    .menu {
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-search {
        display: none;
    }
}
