
.main-content {
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.store-control {
  color: var(--color-card-fg);
  background-color: var(--color-card-bg);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: .5rem 1rem;
  width: 100%;
  max-width: var(--element-max-width);
  border-radius: 12px;
}

.page-button {
  padding: .2rem;
  color: var(--color-fg);
  background-color: var(--color-bg-alt);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.page-button:hover {
  background-color: var(--color-bg);
}

.store-items {
  max-width: var(--element-max-width);
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  margin: .5rem 1rem;
}

.card {
  font-size: .85em;
  width: 18rem;
  height: 18rem;
  color: var(--color-card-fg);
  background-color: var(--color-card-bg);
  transition: transform .9s;
  transition: box-shadow .3s;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.card-img-container {
  width: 100%;
  height: 12rem;
  background-size: contain;
  border-radius: 10px 10px 0 0;
}

.card img{
  max-width: 100%;
  max-height: 100%;
  object-fit:cover;
  display: block; /* remove extra space below image */
}

.card-details {
  margin: .8rem;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.item-img {
  border-radius: 10px 10px 0 0;
}

.book-price {
  color: var(--color-price);
}

.book-rating {
  font-size: 1.4em;
  color: var(--color-rating);
}

.book-title {
  font-weight: bold;
}

.pagination {
  display: inline-block;
}

.pagination a {
  font-weight: bold;
  font-size: 1em;
  color: var(--color-fg);
  float: left;
  padding: .3rem .6rem;
  margin: 0 .3rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 100ms linear;
}

.pagination a.active {
  background-color: var(--color-fg);
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.pagination a:hover:not(.active) {
  background-color: var(--color-bg);
  transition: background-color 100ms linear;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}